@import './base/reset.scss';
@import './utils/variables.scss';
@import './utils/mixins.scss';
@import './components/container.scss';
@import './components/header.scss';
@import './components/body.scss';
@import './components//main.scss';
@import './components/footer.scss';
@import './components/modal.scss';
@import './components/buttons';
