:root {
  /* COLORS FOR CSS */
  --background-main-color: #e5e5e5;
  --black-text-color: #000000;
  --grey-text-color: #545454;
  --accent-color: #ff6b08;
  --background-footer-color: #f7f7f7;
  --red-text-color: #ff001b;
  --white-text-color: #ffffff;
  --color-text-modal-window: #8c8c8c;
  /* SIZES FOR FONTS */
  --main-font-weight: 12px;
}

// background-color: var(--background-main-color)
// пример использования цвета
