.container {
  width: 100%;
  min-width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  // margin-right: auto;
  // margin-left: auto;
  @include for-size(tablet) {
    min-width: 768px;
    padding-left: 75px;
    padding-right: 75px;
  }
  @include for-size(desktop) {
    min-width: 1024px;
    padding-left: 71px;
    padding-right: 71px;
  }
}
