.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    min-width: 320px;
  }

  .footer__container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-footer-color);
    height: 100px;

    @include for-size(tablet) { // min-width: 768
      height: 77px;
      }
  }


  .footer__text {
    display: block;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: "Roboto ";
    font-size: 14px;
    color: rgba(0, 0, 0, 0.8);
    line-height: 1,14 ;

    @include for-size(tablet) { // min-width: 768
      font-size: 16px;
      display: flex;
    }

    svg {
      width: 14px;
      height: 14px;
    }
  }

  .copyright {
    fill: #656565;
  }
  .vector {
    fill: #ff6b08;
  }
  .vector:hover {
    fill: #ff0000;
  }

  .footer__link {
    color: rgba(0, 0, 0, 0.8);
    text-decoration: underline;
  }

  .footer__link:hover {
    color: blue;
  }
