.movie-list-item {
  position: relative;
}
.btn:last-child {
  margin-top: 0px;
}
.delete {
  position: absolute;
  z-index: 5;
  border-color: white;
  background-color: black;
  opacity: 0.7;
  font-size: 9px;
  font-weight: 600;
  transform: translateX(115%);
  top: 15px;

  @include for-size(desktop) {
    transform: translateX(100%);
  }
}
