.movie-list-item {
  position: relative;
}
.delete {
  position: absolute;
  z-index: 5;
  border-color: white;
  background-color: black;
  opacity: 0.7;
  font-size: 9px;
  font-weight: 600;
  transform: translateX(100%);
  top: 15px;
}
