.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: -15px;
  margin-left: -15px;
  margin-top: 20px;
  @include for-size(tablet) {
    margin-right: -30px;
    margin-left: -30px;
    margin-top: 45px;
  }
}
.movie-list-item {
  margin-right: 0;
  padding: 15px;
  @include for-size(tablet) {
    width: calc((100% - 30px) / 2);
  }
  @include for-size(desktop) {
    width: calc((100% - 30px) / 3);
  }
}
.movie__image {
  // height: 100%;
  width: 100%;
  // height: 402px;
  // height: 400px;
  @include for-size(tablet) {
    width: 293px;
    height: 398px;
  }
  @include for-size(desktop) {
    width: 274px;
  }
}
.movie-description {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.166;
}
.dark {
  font-weight: 600;
  text-transform: uppercase;
  color: var(--black-text-color);
}
.light {
  display: inline;
  color: var(--accent-color);
}
.after::after {
  content: ',';
}
.after:last-child {
  content: '';
}
