.back_to_top {
  @media screen and (max-width: 429px) {
    bottom: 80px;
    right: 5px;
  }
  @media screen and (min-width: 430px) and (max-width: 1199px) {
    bottom: 120px;
    right: 100px;
  }
  @media screen and (min-width: 1024px) {
    bottom: 120px;
    right: 120px;
      width: 55px;
      height: 55px;
      line-height: 55px;
      border-radius: 50%;
  }

  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;

  position: fixed;
  z-index: 9999;
  text-align: center;

  background-color: rgba(255, 107, 8, 0.5);
  color: var(----black-text-color);
  cursor: pointer;
  display: none;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 500ms cubic-bezier(0.4, 0, 0.2, 1),
    -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.back_to_top:hover {
  // background-color: var(--accent-color);
  // opacity: 0.7;
  transform: scale(1.1);
}

.back_to_top-show {
  display: block;
}
.arrow-color {
  color: #ffffff;
}
